@{
	ViewData["Title"] = "Index";
}

<h1>RazorTools FontAwesome Example</h1>

<div>
	<p>@Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid))</p>
	<p>Xs: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Xs))</p>
	<p>Sm: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Sm))</p>
	<p>Lg: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg))</p>
	<p>2x: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg2x))</p>
	<p>3x: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg3x))</p>
	<p>4x: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg4x))</p>
	<p>5x: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg5x))</p>
	<p>6x: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg6x))</p>
	<p>7x: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg7x))</p>
	<p>8x: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg8x))</p>
	<p>9x: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg9x))</p>
	<p>10x: @Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithSize(FaSizes.Lg10x))</p>

	<p>@Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithTransform(FaTransforms.Spin))</p>
	<p>@Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithTransform(FaTransforms.Pulse))</p>
	<p>@Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithAttribute(FaAttributes.Border))</p>
	<p style="background-color: black;">@Html.FontAwesome(FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithAttribute(FaAttributes.Inverse))</p>

	<p>@Html.FontAwesome(FaIcons.Seedling.WithStyle(FaStyles.Solid))</p>
	<p>@Html.FontAwesome(FaIcons.Seedling.WithStyle(FaStyles.Solid).WithTransform(FaTransforms.FlipHorizontal))</p>
	<p>@Html.FontAwesome(FaIcons.Seedling.WithStyle(FaStyles.Solid).WithTransform(FaTransforms.FlipVertical))</p>

	<h1>Stack</h1>
	@using (Html.BeginFaStack(FaSizes.Lg4x))
	{
		@FaIcons.Quidditch.WithStyle(FaStyles.Solid).WithStackAttribute(FaStackAttributes.Stack2x).WithTransform(FaTransforms.Spin)
		@FaIcons.Seedling.WithStyle(FaStyles.Solid).WithStackAttribute(FaStackAttributes.Stack1x).WithAttribute(FaAttributes.Inverse)
	}
</div>
